file:lib/rustlib/x86_64-pc-windows-gnu/lib/libaddr2line-3e8a282a8087a67e.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libadler2-9cda5466073b88e2.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/liballoc-a891ee0a01aa7348.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libcfg_if-26912ae55208af96.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libcompiler_builtins-b58fc2fa2c5d84c1.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libcore-b157dee3e3857bfa.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libgetopts-2b41553a86bb4735.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libgimli-7b0a242d96ab9a1b.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libhashbrown-8b5d914d92526bcd.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/liblibc-38d5f97369f35d7d.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libmemchr-a5683070350ed373.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libminiz_oxide-be806b1a42629b4b.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libobject-6d46f4382bcd3814.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libpanic_abort-c3787d6881b1d620.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libpanic_unwind-ec9122cb7daeb5b0.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libproc_macro-279b0dfd644da9ca.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/librustc_demangle-2c2e5419817d6737.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/librustc_literal_escaper-f437329522c69b84.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/librustc_std_workspace_alloc-569521be8325212e.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/librustc_std_workspace_core-c49307daf5089856.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/librustc_std_workspace_std-a68f59e9cb2e3e0a.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libstd-2f47b046973153da.dll.a
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libstd-2f47b046973153da.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libstd_detect-6cf6fc6a4662b1a0.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libsysroot-e3a42cf76c01f81b.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libtest-2b062d17cd8c8084.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libunicode_width-74a0ff46d4ab5163.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libunwind-d39fd51e37548070.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libwindows_targets-957c9f3f2b4b8bdb.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/rsbegin.o
file:lib/rustlib/x86_64-pc-windows-gnu/lib/rsend.o
file:lib/rustlib/x86_64-pc-windows-gnu/lib/self-contained/crt2.o
file:lib/rustlib/x86_64-pc-windows-gnu/lib/self-contained/dllcrt2.o
file:lib/rustlib/x86_64-pc-windows-gnu/lib/std-2f47b046973153da.dll
