file:lib/rustlib/x86_64-pc-windows-gnu/lib/libaddr2line-057dc260707e05f3.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libadler2-aad28720dda5511e.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/liballoc-b59c84b50c3a3381.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libcfg_if-7c27d5a26a9f3213.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libcompiler_builtins-ea35a735dade4383.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libcore-b566be85b3fb54ac.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libgetopts-3b2f3fd067608ffa.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libgimli-9c7b3da54070bf21.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libhashbrown-18468d58cd5a9849.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/liblibc-d89879dfa27b9858.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libmemchr-5fee929e38523ed1.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libminiz_oxide-aa873642d4270c91.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libobject-664c143b09a9bb80.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libpanic_abort-1c4ee9924c29fb35.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libpanic_unwind-54f0db2b8da74408.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libproc_macro-af1d02e1fbdb4935.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/librustc_demangle-2071562e52929051.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/librustc_literal_escaper-57829471399ea24c.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/librustc_std_workspace_alloc-4bfcf68bee3d0c11.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/librustc_std_workspace_core-14598ccc8530df5e.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/librustc_std_workspace_std-dfe2b7bf73a6ba34.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libstd-eda97603dd98e790.dll.a
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libstd-eda97603dd98e790.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libstd_detect-6dd86666987ccc26.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libsysroot-2929794cbdf84b13.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libtest-4d0e7cc6d1c0dbfb.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libunwind-35a53cb7c6b9e1e8.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libwindows_targets-e78218c0825d389d.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/rsbegin.o
file:lib/rustlib/x86_64-pc-windows-gnu/lib/rsend.o
file:lib/rustlib/x86_64-pc-windows-gnu/lib/self-contained/crt2.o
file:lib/rustlib/x86_64-pc-windows-gnu/lib/self-contained/dllcrt2.o
file:lib/rustlib/x86_64-pc-windows-gnu/lib/std-eda97603dd98e790.dll
