file:lib/rustlib/x86_64-pc-windows-gnu/lib/libaddr2line-35739ff5cefe579e.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libadler2-514102c5fe7f7d44.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/liballoc-3b2e2b2642f765b5.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libcfg_if-b0185674579f7e08.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libcompiler_builtins-87953880d1763386.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libcore-6018603b0a83ce5b.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libgetopts-a980ff66608c0cdf.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libgimli-1fd9be48a5a1fea1.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libhashbrown-b8fc3f598d243379.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/liblibc-074e5888e183aaa0.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libmemchr-821e20e153e0717f.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libminiz_oxide-2538f1ef87068206.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libobject-9d26f3efc9bab6a7.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libpanic_abort-e5c8aa26fc2c04c9.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libpanic_unwind-26fcdf10aacc9906.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libproc_macro-3005bd580e2acaae.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/librustc_demangle-a5759f793c0a4397.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/librustc_literal_escaper-474d234fa38190b5.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/librustc_std_workspace_alloc-41ca33ab5b6d1a67.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/librustc_std_workspace_core-0711f97cc1d023fd.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/librustc_std_workspace_std-ef01ed0eaddcfe2d.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libstd-412f35739dfa5150.dll.a
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libstd-412f35739dfa5150.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libstd_detect-abe8e40555b44c01.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libsysroot-9c87f1bb8b5d513d.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libtest-81d4e7f23a12b98d.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libunwind-bb373c64ff85a92c.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libwindows_targets-b1a9198ef68eff35.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/rsbegin.o
file:lib/rustlib/x86_64-pc-windows-gnu/lib/rsend.o
file:lib/rustlib/x86_64-pc-windows-gnu/lib/self-contained/crt2.o
file:lib/rustlib/x86_64-pc-windows-gnu/lib/self-contained/dllcrt2.o
file:lib/rustlib/x86_64-pc-windows-gnu/lib/std-412f35739dfa5150.dll
