file:lib/rustlib/x86_64-pc-windows-gnu/lib/libaddr2line-5da90788466f0019.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libadler2-a632b9104f2c8104.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/liballoc-d3c4a30abaa754a4.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libcfg_if-71a00f7fc1a14660.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libcompiler_builtins-ee86ddb66fe809ab.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libcore-6e07f6168c0e7476.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libgetopts-a7f2e3be7dd3f344.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libgimli-7cbd6705dcceaa17.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libhashbrown-3463904fa8b7eb9e.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/liblibc-2cc4c147579adfb5.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libmemchr-25358b036911d463.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libminiz_oxide-5201c0e2fac6a6b2.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libobject-c5b48d43ceced871.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libpanic_abort-1579d5b6ddbebbb7.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libpanic_unwind-9b06e9869ec28c84.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libproc_macro-1d5fb423588f572a.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/librustc_demangle-1ed538fee31dda41.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/librustc_literal_escaper-3d25d2cb5d9d8b87.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/librustc_std_workspace_alloc-36519e8d44c22bdd.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/librustc_std_workspace_core-795a05b72793e0db.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/librustc_std_workspace_std-2f238c9863394c0a.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libstd-c8d0fbc527175d1d.dll.a
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libstd-c8d0fbc527175d1d.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libstd_detect-864b2ef2e404c697.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libsysroot-3ddc14f9a9537fe0.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libtest-f6683be8587861da.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libunwind-fe09f70f694a50d7.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/libwindows_targets-f625540ebdded62f.rlib
file:lib/rustlib/x86_64-pc-windows-gnu/lib/rsbegin.o
file:lib/rustlib/x86_64-pc-windows-gnu/lib/rsend.o
file:lib/rustlib/x86_64-pc-windows-gnu/lib/self-contained/crt2.o
file:lib/rustlib/x86_64-pc-windows-gnu/lib/self-contained/dllcrt2.o
file:lib/rustlib/x86_64-pc-windows-gnu/lib/std-c8d0fbc527175d1d.dll
